html {
	box-sizing: border-box;
}

:root {
	--dark_des_blue: hsl(238, 29%, 16%);
	--soft_red: hsl(14, 88%, 65%);
	--soft_violet: hsl(273, 75%, 66%);
	--soft_blue: hsl(240, 73%, 65%);
	--very_dark_gray_blue: hsl(237, 12%, 33%);
	--dark_gray_blue: hsl(240, 6%, 50%);
	--light_gray_blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 0.9rem;
}

body {
	background-image: url(images/bg-pattern-mobile.svg);
	background-image: linear-gradient(var(--soft_violet), var(--soft_blue));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.card {
	background-color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 40rem;
	margin: 5rem auto;
	padding: 3% 3%;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.ilustration__div {
	text-align: center;
	max-width: 40rem;
}

.ilustration {
	width: 50%;
	margin-top: -5rem;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.title {
	text-align: center;
	margin-bottom: 5rem;
	font-size: 3rem;
	font-weight: 700;
}

.text__section h4 {
	margin: 1rem 0;
}

.text__section p {
	opacity: 0.7;
	display: none;
}

hr {
	margin: 1rem 0;
	opacity: 0.7;
}

#scroll {
	background-color: transparent;
	border: transparent;
}

@media (min-width: 1100px) {
	.card {
		flex-direction: row;
		max-width: 80rem;
		gap: 15rem;
	}

	.ilustration__div {
		width: 30%;
		align-self: center;
		margin-left: -5rem;
		text-align: left;
		position: relative;
	}

	.ilustration {
		width: 35rem;
		position: absolute;
		top: -10rem;
		left: -1rem;
	}

	.text__section {
		width: 60%;
	}

	.title {
		text-align: left;
		margin-bottom: 0;
	}
}
