html {
	box-sizing: border-box;
}

:root {
	--dark_des_blue: hsl(238, 29%, 16%);
	--soft_red: hsl(14, 88%, 65%);
	--soft_violet: hsl(273, 75%, 66%);
	--soft_blue: hsl(240, 73%, 65%);
	--very_dark_gray_blue: hsl(237, 12%, 33%);
	--dark_gray_blue: hsl(240, 6%, 50%);
	--light_gray_blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 0.9rem;
}
