html {
	box-sizing: border-box;
}

:root {
	--dark_des_blue: hsl(238, 29%, 16%);
	--soft_red: hsl(14, 88%, 65%);
	--soft_violet: hsl(273, 75%, 66%);
	--soft_blue: hsl(240, 73%, 65%);
	--very_dark_gray_blue: hsl(237, 12%, 33%);
	--dark_gray_blue: hsl(240, 6%, 50%);
	--light_gray_blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: "Kumbh Sans", sans-serif;
}

body {
	background-image: url(images/bg-pattern-mobile.svg);
	background-image: linear-gradient(var(--soft_violet), var(--soft_blue));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.card {
	background-color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 40rem;
	margin: 5rem auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	font-size: 0.7rem;
}

.ilustration__div {
	text-align: center;
	max-width: 40rem;
	position: relative;
}

.ilustration {
	width: 80%;
	margin-top: -7rem;
}

.shadow {
	width: 80%;
	margin-top: -3rem;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.title {
	text-align: center;
	margin: -1rem 0 2rem;
	font-size: 3rem;
	font-weight: 700;
}

.text__section h4 {
	margin: 0.5rem 0;
}

.text__section p {
	opacity: 0.7;
	display: none;
}

hr {
	margin: 0.5rem 0;
	opacity: 0.7;
}

#scroll {
	background-color: transparent;
	border: transparent;
}

.descktop__shadow {
	display: none;
}

.orange__box {
	display: none;
}

@media (min-width: 1100px) {
	.card {
		flex-direction: row;
		max-width: 60rem;
		gap: 8rem;
		padding: 3rem 3rem 3rem 0;
	}

	.ilustration__div {
		width: 30rem;
		text-align: left;
		position: relative;
	}

	.ilustration {
		width: 25rem;
		position: absolute;
		bottom: 2.1rem;
		left: -4.5rem;
	}

	.text__section {
		width: 40rem;
		font-size: 1rem;
	}

	.title {
		text-align: left;
		margin-bottom: 0;
	}

	.shadow {
		display: none;
	}

	.descktop__shadow {
		display: block;
		width: 30rem;
		position: absolute;
		bottom: -5.5rem;
		left: -9rem;
	}
}
